In [1]:
#importing libraries
import pandas as pd
import numpy as np
import random

### creating array for student id

In [2]:
sid = np.arange(1000,2000) #1000 is start and 2000 is end

In [3]:
sid[1:10] #first 10 values

array([1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009])

In [4]:
sid.size

1000

## creating random datas for categorical values like gender

In [5]:
gen = ['male','female'] 
gender = [] #empty list to store n number of data

for i in range(1000):
    x = random.choice(gen)
    gender.append(x)

In [8]:
gender[1:10] #first 10 values

['female',
 'female',
 'female',
 'female',
 'male',
 'female',
 'female',
 'male',
 'female']

In [9]:
len(gender)

1000

## Class

In [10]:
courses = ['BCA','BSc.CS','B.Tech','MCA','M.Tech','MSc.CS']
cls = []

In [11]:
for i in range(1000):
    x = random.choice(courses)
    cls.append(x)

In [13]:
cls[1:10] #first 10 values

['B.Tech',
 'B.Tech',
 'B.Tech',
 'M.Tech',
 'MSc.CS',
 'MCA',
 'BCA',
 'B.Tech',
 'MCA']

In [14]:
len(cls)

1000

## Pass or fail

In [15]:
porf = ['Pass','Pass','Pass','Pass','Pass','Pass','Pass','Fail'] 
#chance of fail is low and pass is high (1/8 chance of fail and 7/8 chance pass)
status = []

you can use the same method to add Transgender in generating gender

In [16]:
for i in range(1000):
    x = random.choice(porf)
    status.append(x)

In [17]:
status[1:10]#first 10 values

['Pass', 'Pass', 'Fail', 'Pass', 'Pass', 'Pass', 'Pass', 'Fail', 'Pass']

In [18]:
len(status)

1000

## creating datas according to the categorical data

We have created the dataset of passed or failed, now we should create marks according to that. for example if a person is failed, their mark should be less than or equal to 30, if they are passed it should be above 30

In [19]:
#create an empty list for marks
marks = []

In [20]:
#iterate through status list and using if condition assign them a value
for i in status:
    if (i == "Fail"):
        tempmark = np.random.randint(0,30)
        marks.append(tempmark)
    else:
        tempmark = np.random.randint(30,100)
        marks.append(tempmark)

In [21]:
len(marks)

1000

# Converting these into datasets

In [22]:
#sid,gender,class,status,marks are the attributes

In [23]:
df = pd.DataFrame({'Student ID':sid,'Gender':gender,'Class':cls,'Pass/Fail':status,'Marks':marks})

In [24]:
df.head(10)

   Student ID  Gender   Class Pass/Fail  Marks
0        1000  female     BCA      Pass     92
1        1001  female  B.Tech      Pass     40
2        1002  female  B.Tech      Pass     77
3        1003  female  B.Tech      Fail     29
4        1004  female  M.Tech      Pass     54
5        1005    male  MSc.CS      Pass     57
6        1006  female     MCA      Pass     85
7        1007  female     BCA      Pass     68
8        1008    male  B.Tech      Fail      0
9        1009  female     MCA      Pass     53

# Saving dataframe to csv file

In [31]:
df.to_csv("Downloads/File.csv",index=False)

## importing this dataset

In [32]:
dataframe = pd.read_csv("Downloads/File.csv")

In [33]:
dataframe.head(10)

   Student ID  Gender   Class Pass/Fail  Marks
0        1000  female     BCA      Pass     92
1        1001  female  B.Tech      Pass     40
2        1002  female  B.Tech      Pass     77
3        1003  female  B.Tech      Fail     29
4        1004  female  M.Tech      Pass     54
5        1005    male  MSc.CS      Pass     57
6        1006  female     MCA      Pass     85
7        1007  female     BCA      Pass     68
8        1008    male  B.Tech      Fail      0
9        1009  female     MCA      Pass     53